@import './fonts.css' layer(base);

@import 'tailwindcss';
@import "@catppuccin/tailwindcss/mocha.css";
@import "@catppuccin/tailwindcss/frappe.css";
@import "@catppuccin/tailwindcss/macchiato.css";


*,
*:before,
*:after {
  box-sizing: border-box;
  font-family:
    MesloLGS,
    Source Code Pro,
    Roboto,
    sans-serif;
}
/* Can not extend tailwind overflow for some reason. => Set as global class */
.overflow-initial {
  overflow: initial;
}
/*
.bright {
  --catppuccin-color-overlay0: 220, 220, 220;
  --catppuccin-color-text: 110, 110, 120;
  --catppuccin-color-surface2: 240, 240, 240;
  --catppuccin-color-surface1: 250, 250, 255;
  --catppuccin-color-mantle: 240, 240, 240;
  --catppuccin-color-crust: 240, 245, 255;
  --catppuccin-color-base: 248, 248, 248;
  --catppuccin-color-surface0: 255, 255, 255;
}

.lighter {
  --catppuccin-color-overlay0: 190, 190, 190;
  --catppuccin-color-text: 70, 70, 80;
  --catppuccin-color-surface2: 230, 230, 230;
  --catppuccin-color-mantle: 245, 245, 245;
  --catppuccin-color-crust: 220, 225, 255;
  --catppuccin-color-base: 230, 230, 230;
  --catppuccin-color-surface0: 255, 255, 255;
  --catppuccin-color-surface1: 245, 245, 245;
}
*/
