@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family:
    MesloLGS,
    Source Code Pro,
    Roboto,
    sans-serif;
}
/* Can not extend tailwind overflow for some reason. => Set as global class */
.overflow-initial {
  overflow: initial;
}
